


@import "darkly.scss";

body {
    margin-top: 1em;
    margin-bottom: 1em;
}


.jumbotron {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/0/0c/Ville_de_Qu%C3%A9bec_vu_de_L%C3%A9vis.jpg);
    background-repeat: no-repeat;
}

.front .jumbotron {
    background-position: 20% 35%;
}

.a-propos .jumbotron {
    background-position: 80% 35%;
}


.par-ville .jumbotron {
    background-position: 60% 35%;
}


.par-indice .jumbotron {
    background-position: 40% 35%;
}


.par-langage .jumbotron {
    background-position: 60% 45%;
}


.inscription .jumbotron {
    background-position: 80% 45%;
}

.jumbotron>h2,.jumbotron>h3{
    background: #800000;
}
